extends layout

block content
  .uk-cover-container 
    .uk-card.uk-card-large
      form
        fieldset.uk-fieldset
          legend.uk-legend Enter text to be converted to speech
          .uk-margin
            input.uk-input(type="text"  placeholder="Input")
            a.uk-button.uk-button-primary Submit

  
    