doctype html
html
  head
    title= 'Text To Speech'
     meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', href='/stylesheets/style.css')
    // UIkit CSS
    link(rel="stylesheet" href="/stylesheets/uikit.min.css")
    link(rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jquerymobile/1.4.5/jquery.mobile.min.css")
    
    
  body
    block content
    block scripts
     // UIkit JS
    script(src="/javascripts/uikit-icons.min.js")
    script(src="/javascripts/uikit.min.js")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
    script(src="/javascripts/main.js")